<li class="project">
  <a href="{{or homepage html_url}}" target="_blank">
    <span class="title">{{name}}</span>
    <div class="hook">{{description}}</div>
    <div class="stats">
      <span class="language">{{language}}</span>
      <span class="updated">{{lastUpdate pushed_at}}</span>
    </div>
  </a>
</li>
